/* Sekcja tytułu */
.site-title {
  font-size: 3.5rem;
  font-weight: bold;
  color: #ffffff; /* Kolor tytułu */
}
.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none; /* Usunięcie podkreślenia linku */
}

/* Styl dla logo */
.logo {
  width: 250px;
  height: 250px;
  margin-right: 50px;
}

/* Styl dla kontenera nawigacji */
.navbar {
  background-color: #2c3a33; /* Kolor tła */
  height: 300px;
}
/* Styl dla linków */
.nav-links {
  margin-top: -10px;
  display: flex; /* Ustaw linki w jednej linii */
  gap: 50px; /* Odstęp między linkami */
  justify-content: center; /* Wyśrodkowuje linki w poziomie */
  height: 50px;
  width: 100%; /* Rozciągnij linki na całą szerokość */
  background-color: #485d56; /* Tło tylko dla linków */
  padding: 12px; /* Wewnętrzne odstępy linków */
}
.nav-links a {
  text-decoration: none; /* Usuń podkreślenie */
  color: white; /* Kolor tekstu */
  font-weight: bold; /* Grubszy tekst */
  font-size: 22px; /* Rozmiar tekstu */
  font-family: Verdana;
}

.nav-links a:hover {
  color: #e2e8f0; /* Kolor linku po najechaniu */
  text-decoration: underline;
}
.navbar .active-link {
  text-decoration: underline;
  font-weight: bold;
}

/* Social Media */
.social-media {
  position: relative;
  top: 0px;
  right: 30px; /* Odległość od prawej krawędzi */
}
.social-media a {
  margin: 0 10px;
  color: #fff;
  font-size: 40px;
}
.social-media a:hover {
  color: #e2e8f0;
}
