.search-bar {
  display: flex;
  justify-content: center; /* Wyśrodkowanie w poziomie */
  margin: 20px auto; /* Wyśrodkowanie na stronie z marginesami */
  width: 100%; /* Upewnij się, że komponent rozciąga się na całą szerokość */
}

.search-bar input {
  width: 50%; /* Dostosowanie szerokości paska wyszukiwania */
  max-width: 600px; /* Maksymalna szerokość */
  padding: 10px; /* Wewnętrzne odstępy */
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.search-bar input:focus {
  border-color: #4caf50; /* Zmiana koloru obramowania na aktywnym */
}
